<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../../public/style.css"> -->
  <!-- ../ dewar dorkar nai cz morgan express dekhay dce j public ekta folder ase & it'll automatically find it -->
  <link rel="stylesheet" href="/style.css">
  <title>Blog Ninja | <%= title %></title>
</head>