<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <!-- include nav -->
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis est quod libero laborum temporibus autem eligendi, cupiditate aperiam, inventore dolorum maiores dolores. Ipsam in ut, eligendi reiciendis neque odio saepe!</p>
    <p>Saepe soluta odit vel temporibus dignissimos! Rem ut eius voluptatibus cupiditate neque, aspernatur natus, ex molestiae, tempore quam praesentium earum doloribus laborum eos dicta eaque harum! Quos modi ad obcaecati.</p>
    <p>Fuga explicabo quisquam, sunt deleniti aut obcaecati. Porro quas at facilis reprehenderit pariatur. Nisi exercitationem maxime architecto excepturi maiores ipsum libero nihil. Eaque at debitis voluptatem rerum numquam nobis facere?</p>

  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>